<a href="https://colab.research.google.com/github/M-Mag25/SCA_Exercise_June/blob/master/Stage_A_Hamoye_Lesson_3_(PANDAS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#convention for importing numpy
import pandas as Pd
days = Pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [5]:
#Creating Series with a numpy array
import numpy as np
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_days = Pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [6]:
#Using Strings as index
days = "days_list"
days = Pd.Series(['Monday', 'Tuesday', 'Wednesday'], index=['a', 'b', 'c'])
print(days)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [7]:
#create series with dictionary
days1 = Pd.Series({'a': 'Monday', 'b':'Tuesday', 'c': 'Wednesday'})
print(days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [8]:
#series can be accessed using the specified index as shown below
days[0] # has the same output as days_list[0]
days_list[1:]
days['c']
days[1:]

b      Tuesday
c    Wednesday
dtype: object

In [16]:
#Dataframe can be described as a table(2 dimensions)made up of many series with the same index.It holds data in rows and columns just like a spreadsheet
print(Pd.DataFrame())#Prints an empty dataFrame
#create a dataframe from a dictionary
df_dict = {'country': ['Ghana', 'Kenya','Nigeria','Togo'], 'capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],  'population': [10000, 8500, 35000, 12000],'age': [60, 70, 80, 75]
            }
df = Pd.DataFrame(df_dict, index=[2,4,6,8])
df_list = [['Ghana', 'Accra', 10000, 60], ['Kenya', 'Nairobi', 8500, 70], ['Nigeria', 'Abuja', 35000, 80], ['Togo', 'Lome', 12000, 75]]
df1 = Pd.DataFrame(df_list, columns =['country', 'capital', 'population', 'age'], index =[2,4,6,8])
print(df1)

Empty DataFrame
Columns: []
Index: []
   country  capital  population  age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [71]:
#select the row in the at index 3
df.iloc[3]

country        Togo
capital        Lome
population    12000
age              75
Name: 8, dtype: object

In [72]:
#select row with index label 6
df.loc[6]

country       Nigeria
capital         Abuja
population      35000
age                80
Name: 6, dtype: object

In [73]:
#select the capital column
df['capital']

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: capital, dtype: object

In [85]:
df.at[6, 'country']
df.iat[2, 0]
#select the row in the at index 3
df.iloc[3]
#select row with index label 6
df.loc[6]
#select capital column
df['capital']
df.at[6, 'population']
df.iat[2,1]

'Abuja'

In [20]:
#remove rows with missing values
new_df.dropna()

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0

In [19]:
df['population'].sum()
df.mean()
df.describe()
#THE MISSING DATA ENIGMA:IMPORTANCE, TYPES AND HANDLING MISSING DATA
df_dict2 ={'Name':['James', 'Yamen', 'Caro', np.nan], 'Profession':['Researcher', 'Artist', 'Doctor', 'Writer'], 'Experience':[12, np.nan, 10, 8], 
             'Height':[np.nan, 175, 180, 150]}
new_df =Pd.DataFrame(df_dict2)
print(new_df)

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yamen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0